<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .loginBox{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="loginBox">

<div style="">
<input type="text" name="email" id="email" placeholder="email"><br>
<input type="password" name="password" id="password" placeholder="password"><br>
<input type="submit" value="submit" onclick="doLogin()">
<p id="warning" style="color: red;"></p>
<span>not a registered user <a href="/signup" style="color: blue;"> signup here</a></span>
</div>
    </div>
     <script src="/script.js"></script>
</body>
</html>